.Aboutsection1{
    background-image: url("../../../../../public/OIP.jpeg");
    height: 100%;
    min-height: 900px;
    width: 700px;
    width: 100%;
    .Aboutsection1_container{
           padding-top: 100px;
           padding-left: 80px;
           padding-right: 80px;
           
        .Aboutsection1_h1{
            display: flex;
            padding-bottom: 100px;
            font-style: italic;
            font-weight: 700;
            font-size: 70px;
            color: white;
            text-decoration: underline;
            text-decoration-color: red;
        }
        .Aboutsection1_div{
            background-color: black;
           height: 100%;
           max-width: 1700px;
           display: flex;
           border-radius: 8px;
           flex-direction: column;
           align-items: center;
           .Aboutsection1_div_p1{
            color: white;
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 22px;
           }
           .Aboutsection1_div_p2{
            color: white;
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 22px;
           }
           .Aboutsection1_div_p3{
            color: white;
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 22px;
            padding-bottom: 30px;
           }
        }
    }
}


@media screen and (max-width: 500px){
    .Aboutsection1{
        .Aboutsection1_container{

            .Aboutsection1_h1{
                font-size: 32px;
            }
        }
    }
}