table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th,tr {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    img{
        width: 60px;
        height: 60px;
    }
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }