.site-footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.site-footer h3 {
    color: #fff;
    font-size: 18px;
}

.site-footer p {
    color: #ccc;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ccc;
}